.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:rgb(19, 18, 18);
    color: white;
}

.search-bar {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}

nav li:hover {
    text-decoration: underline;
}
.header nav ul li i {
    font-size: 24px;
    color: #333;
    margin-top: 5px;
}

  
  

  

